### Importing data

In [7]:
import pandas as pd
import utility

sites_ids = [2, 4, 5, 6, 12]

for site_id in sites_ids:
    load_df, price_df, weather_df = utility.load_one_sites_dataframes(site_id)
    load_df = utility.add_missing_datetimes_to_load_df(load_df)
    merged_df = utility.merge_one_sites_dataframes(load_df, price_df, weather_df)

In [9]:
merged_df.head()

,load_energy_sum,zoned_start_time,buy_price_kwh,sell_price_kwh,router_id,end_time,temp,feels_like,pop,clouds,sun_percentage,created_at,created_by,updated_at,updated_by
start_time,,,,,,,,,,,,,,,
2024-06-20 00:00:00+00:00,730175909,2024-06-20 03:00:00,14200,7177,12,2024-06-20 01:00:00+00:00,25.30,26.08,0,99,0,2024-06-18 04:00:02.368116+00:00,system,NaT,NaN
2024-06-20 01:00:00+00:00,727355419,2024-06-20 04:00:00,14076,7076,12,2024-06-20 02:00:00+00:00,25.30,26.08,0,99,0,2024-06-18 04:00:02.368116+00:00,system,NaT,NaN
2024-06-20 02:00:00+00:00,702224281,2024-06-20 05:00:00,14204,7181,12,2024-06-20 03:00:00+00:00,25.28,26.06,0,99,0,2024-06-18 04:00:02.368116+00:00,system,NaT,NaN
2024-06-20 03:00:00+00:00,804130882,2024-06-20 06:00:00,15151,7957,12,2024-06-20 04:00:00+00:00,25.22,25.99,0,100,0,2024-06-18 04:00:02.368116+00:00,system,NaT,NaN
2024-06-20 04:00:00+00:00,668420201,2024-06-20 07:00:00,20362,10637,12,2024-06-20 05:00:00+00:00,25.34,26.12,0,100,0,2024-06-18 08:00:03.699887+00:00,system,NaT,NaN